body {
  margin: 0;
  font-family: Arial, sans-serif;
}

header {
  background-color: #222;
  color: #fff;
  text-align: center;
  padding: 2rem 1rem;
}

nav {
  background-color: #444;
}

nav ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  justify-content: center;
}

nav ul li {
  margin: 0 1rem;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}

main {
  padding: 2rem;
}

footer {
  background-color: #222;
  color: #fff;
  text-align: center;
  padding: 1rem;
  position: relative;
  bottom: 0;
  width: 100%;
}
